/* css/styles.css of bbauska/line-paper for line-paper.bauska.org */
:root {
  --margin-line: #941c5a;
  --lines: #1d97b8;
}

html,
body {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100%;
}

.paper {
  width: 850px;
  height: 1100px;
  background-color: #fff;
  background-image: linear-gradient(var(--lines) 0.05em, transparent 0.05em);
  background-size: 100% 2em;
  position: relative;
  box-shadow: 15px 15px 33px rgba(27, 27, 27, 0.1);
}
.paper:before, .paper:after {
  content: "";
  position: absolute;
  top: 0;
}
.paper:before {
  height: 100%;
  width: 2px;
  background-color: var(--margin-line);
  left: 4em;
  z-index: 2;
}
.paper:after {
  height: 6em;
  width: 100%;
  background-color: #fff;
  left: 0;
  z-index: 1;
}
.paper .holes {
  background-color: #eee;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  z-index: 10;
  margin-left: 1em;
  margin-top: 6em;
}
.paper .holes:before, .paper .holes:after {
  content: "";
  width: 35px;
  height: 35px;
  background-color: #eee;
  position: absolute;
  border-radius: 50%;
}
.paper .holes:before {
  top: 50%;
}
.paper .holes:after {
  top: calc(100% - 6em);
}

textarea {
  position: absolute;
  top: 6rem;
  left: 4rem;
  width: calc(100% - 5rem);
  height: calc(100% - 7rem);
  background-color: transparent;
  border: none;
  font-family: "Comic Sans";
  font-size: 2rem;
  line-height: 1;
  padding-left: 1rem;
  margin: 0;
  resize: none;
}

/* start here from another website */
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
body {
  margin: 0;
  padding: 0;
  background: lightgoldenrodyellow;
}
.paper {
  position: absolute;
  height: 550px;
  width: 450px;
  background: rgba(255,255,255,0.9);
  margin: -275px -225px;
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 5px 0px #888;
}
.paper::before {
  content: '';
  position: absolute;
  left: 45px;
  height: 100%;
  width: 2px;
  background: rgba(255,0,0,0.4);
}
.lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}
.text {
  position: absolute;
  top: 65px;
  left: 55px;
  bottom: 10px;
  right: 10px;
  line-height: 25px;
  font-family: 'Indie Flower';
  overflow: hidden;
  outline: none;
}
.holes {
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  background: lightgoldenrodyellow;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0px #888;
}
.hole-top {
  top: 10%;
}
.hole-middle {
  top: 50%;
}
.hole-bottom {
  bottom: 10%;
}
